<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>index</title>
</head>
<body>
  <div class="container">
    
      <h1 class="container__titulo">Bem-vindo à Página Inicial</h1>

      <h2 class="container__titulo__registrar">Registro de doença aqui</h2>
      <a class="container__link" href="{{url_for('registro_doenca')}}">Registrar</a>

      
      <h2 class="container__titulo__registrar">Dashboard aqui:</h2>
      <a class="container__link" href="{{url_for('dashboard')}}">dashboard</a>

  </div>
</body>
</html>